body {
    margin: auto;
    font-family: 'PT Sans', sans-serif;
    background: #F2F3F6;
}

/* header */
header {
    background: #322D93;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

header p .logo {
    width: 200px;
    margin-bottom: 20px;
}

header .text-header {
    color: #fff;
    font-weight: bold;
    line-height: 5px;
    font-size: 13px;
}

header .button-header {
    background: #00D3B1;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    margin-top:15px;
}

/* section */
section {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -2%;
}
/* aside */
aside {
    width: 20%;
}

aside .bloc {
    background: #fff;
    height: auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid #E2E4E8;
}

aside .bloc .bloc-image-inside {
    background: grey!important;
    z-index: 9999;
    height: 200px;
}